@font-face {
    font-family: 'circular';
    src: url("../media/CircularSp-Book-4eaffdf96f4c6f984686e93d5d9cb325.ttf");
}

.invert{
    filter: invert(1);
}

::selection{
    background-color: rgb(38, 255, 0);
    color: #000;

}

::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "circular";

}

#main{
    display: flex;
    align-items: flex-start;
}

#left{
    width: 25vw;
    background-color: #000;
    height: 100vh;
    padding: 10px;

}

#left #home{
    background-color: #121212;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
    width: 100%;
    height: 25vh;
}
#left #home ul li{
    display: flex;
    gap: 15px;
    color: white;
    padding-top: 14px;
    font-weight: bold;
    cursor: pointer;
}
#left #home img{
    width: 20px;
}
#left #home #logo{
    width: 80px;
}

#left #library{
    background-color: #121212;
    padding: 10px;
    margin: 3px;
    color: aliceblue;
    border-radius: 10px;
    width: 100%;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#left #library #heading{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    padding: 23px 14px;
    font-size: 14px;
    cursor: pointer;
}
#left #library #heading img{
    width: 22px;
}


#songslist{
    height: 45vh;
    overflow-y: auto;
}
#songslist ol{
    padding: 0 8px;
}
#songslist ol li{
   list-style-type: decimal;
   display: flex;
   justify-content: space-between;
   cursor: pointer;
   padding: 12px;
   gap: 12px;
   width: 100%;
   border-bottom: 1px solid #000;
   margin: 12px 0;
   border-radius: 5px;
   transition: all ease .5s;
}
#songslist ol li:hover{
   border-bottom: 1px solid #fff;
}
#songslist ol li #info{
   width: 80%;
}
#songslist ol li #playnow{
   display: flex;
   align-items: center;
   justify-content: center;
}
#songslist ol li img{
   width: 24px;
}

#left #footer{
    padding: 2px 0;
    width: 100%;
}

#left #footer a{
    color: #484848;
    text-decoration: none;
    margin: 2px 4px;
}
#left #footer #Copyright{
    padding: 4px 0;
    display: block;
    font-size: 10.5px;
    text-align: justify;
    color: #1eff00;
}

#right{
    position: relative;
    width: 75vw;
    background-color: #000;
    padding: 10px;
    height: 100vh;
}

#right #container{
    height: 100%;
    width: 100%;
    background-color: #121212;
    padding: 3px 5px;
    border-radius: 10px;
}

#right #container #header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: black;
}
#nav{
    display: flex;
    align-items: center;
    gap: 10px;
}
#nav .hamburger{
    width: 40px;
    display: none;
}
#right #container #header #nav img{
    width: 30px;
    cursor: pointer;
}
#right #container #header > *{
    padding: 15px;
}
#right #container #header #buttons button:nth-child(1){
    color: #605f5f;
    background: transparent;
    border: none;
    font-size: 15px;
    margin: 4px;
    cursor: pointer
}
#right #container #header #buttons button:nth-child(1):hover{
    color: #e9e9e9;
}
#right #container #header #buttons button:nth-child(2):hover{
    background-color: #e9e9e9;
}
#right #container #header #buttons button:nth-child(2){
    color: #484848;
    background: rgb(38, 255, 0);
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    margin: 4px;
    cursor: pointer
}

#spotify-playlists{
    color: #fff;
    padding: 16px;

}



#volume, #range{
    cursor: pointer;
}
#volume-container > img{
    width: 50px;
}

#vol-percentage{
    color: #a1a1a1;
}

#card-container{
    padding: 15px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 54vh;
    overflow-y: scroll;
}
.card {
    width: 175px;
    margin: 5px;
    border-radius: 5px;
    background-color: #4848483f;
    transition: all linear 0.5s;
    position: relative;
    cursor: pointer;
    height: 100%; /* Set height to 100% to allow it to expand based on content */
    max-height: 400px; /* Set a maximum height to prevent it from growing indefinitely */
    overflow: hidden; /* Hide overflow content beyond max-height */
}

.card > * {
    padding-top: 9px;
}

.card img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card h3 {
    padding: 10px;
    padding-top: 15px;
    margin: 0; /* Reset margin to eliminate default spacing */
}

.card p {
    color: #8b8b8b;
    padding: 5px 10px;
    padding-bottom: 10px;
    margin: 0; /* Reset margin to eliminate default spacing */
}

.card:hover {
    background-color: #2a2a2a38;
}

.card .play-btn {
    background-color: rgb(0, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    right: 5%;
    bottom: 35%;
    width: 40px;
    height: 40px;
    transition: all ease 0.5s;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.card:hover .play-btn {
    bottom: 45%;
    opacity: 1;
}


.play{
    position: absolute;
    bottom: 37%;
    right: 10%;
    opacity: 0;
    transition: all linear .2s;
}

#playbar{
    position: fixed;
    background-color: #1d1d1db1;
    width: 68%;
    bottom:3%;
    transition: all linear .2s;
    padding: 8px 0;
    border-radius: 5px;
}
#playbar:hover{
}
#playbar #song-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
#playbar #song-buttons img{
    width: 40px;
    cursor: pointer;
}

#seekbar{
    width: 100%;
    height: 4px;
    background: rgb(148, 148, 148);
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease .5s;
}
#seekbar:hover{
    background-color: #ffffff;
}

#circle{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    bottom: 3px;
    left: 0;
    transition: left .8s;
}

#song-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#song-info, #song-time{
    padding: 0 12px;
}

.hamburger{
    display: none;
}

.close{
    display: none;
}


#volume-container{
 display: flex;
 align-items: center;
 justify-content: center;   
 gap: 10PX;    
}
@media (max-width: 1270px) and (min-width: 1000px) {
    #left #footer #Copyright{
        display: none;
    }
}
@media (max-width: 1000px){
    #left{
        position: absolute;
        left: -110%;
        transition: all linear .5s;
        z-index: 1;
        width: 100vw;
    }

    #right{
        width: 100vw;
    }

    #playbar{
        width: 95vw;
    }

    #nav .hamburger{
        display: block;
        width: 50px;
    }
    #nav .mobile-buttons-disabled{
        display: none;
    }
    .close{
        display: block;
        position: absolute;
        right: 2%;
        top: 4%;
    }
    .close img{
        width: 30px;
    }

    #left #footer #Copyright{
        text-align: center;
    }
}
@media (max-width: 700px){
    #spotify-playlists h1{
        padding: 8px 0;
    }
    #playbar{
        width: calc(100vw - 60px);
        font-size:12px;
    }
    #seekbar{
        
    }

    .card{
        width: 40vw;
    }
    .card{
        width: 40vw;
    }

    .card-container{
        justify-content: space-evenly;
    }

    #song-container #song-info{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }
    #song-container{
        flex-direction: column;
        gap:5px;
    }

    #song-container #song-buttons img{
        width: 30px;
    }

    #songslist ol li{
        word-break: break-all;
        font-size: 12px;
    }

    
}
@media (max-width: 500px){
    #buttons{
        display: none;
    }
    .card .play-btn{
        display: none;
    }


    #nav{

        justify-content: space-between;
        width: 100%;
    }
}
@media (max-width: 425px){
    #card-container{
        min-height: 54vh;
    }
    .card{
        width: 90vw;
    }

    #left #footer a{
        display: none;
    }
    #left #footer #Copyright{
        margin-top: 20px;
        display: block;
        font-size: 10px;
        text-align: center;
    }
}
#loading-container {
    display: grid;
    place-items: center;
    z-index: 99;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: fixed;
}

#loading-container #logo-container-in-loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    color: white;
}

.container {
    --r: 300px;
    height: var(--r);
    width: var(--r);
    /* border: 1px solid red; */
    -webkit-box-reflect: below 20px
      linear-gradient(transparent 80%, rgba(0, 0, 0, 0.3));
  
    .half {
      width: inherit;
      height: inherit;
      position: absolute;
      /* border: 1px solid blue; */
      border-radius: 50%;
      animation: Loading 2s linear infinite;
  
      &::before {
        content: "";
        position: absolute;
        width: inherit;
        height: inherit;
        border-radius: 50%;
        background: linear-gradient(to top, transparent, #3e8cc0);
        background-size: calc(var(--r) / 2) var(--r);
        background-repeat: no-repeat;
        -webkit-mask: radial-gradient(circle, transparent 130px, #000 130px);
      }
  
      &::after {
        content: "";
        position: absolute;
        top: -2px;
        left: 50%;
        transform: translateX(-50%);
        width: 24px;
        height: 24px;
        color: #50f0d0;
        background: currentColor;
        border-radius: 50%;
        box-shadow: 0 0 10px, 0 0 20px, 0 0 30px, 0 0 40px, 0 0 50px, 0 0 60px,
          0 0 70px, 0 0 80px, 0 0 90px, 0 0 100px;
        z-index: 10;
      }
  
      &:nth-child(2) {
        animation-delay: -1s;
        filter: hue-rotate(300deg);
      }
    }
  }
  
  @keyframes Loading {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes blowAndLighten {
    0% {
        font-size: 16px;
        color: black;
    }
    50% {
        font-size: 18px;
        color: #1eff00; /* Change this to your desired light color */
    }
    100% {
        font-size: 16px;
        color: black;
    }
}

.blow-lighten-text {
    display: inline-block;
    animation: blowAndLighten 1.5s infinite; /* Adjust the duration as needed */
}
  